body {
  background-color: $color-off-white;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-weight: 400;
  font-size: 12px/14px;
  color: $color-dark-grey;
}

.btn {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-size: 2em;
  font-weight: 200;
  padding: 20px 30px;
  margin: 30px 30px 0 0;
  text-decoration: none;
  display: inline-block;
  border: solid 1px;
  text-align: center;

  .ico {
    margin-left: 0.5em;
    font-size: 1em;
  }
}

.gray {
  color: lighten($color-dark-grey, 40%);
  border-color: lighten($color-dark-grey, 40%);
  &:active,
  &:visited,
  &:focus {
    color: lighten($color-dark-grey, 40%);
  }
  &:hover {
    color: $color-dark-grey;
    border-color: $color-dark-grey;
  }
}

.orange {
  color: $color-grey;
  border-color: $color-grey;
  &:active,
  &:visited,
  &:focus {
    color: $color-grey;
  }
  &:hover {
    color: darken($color-grey, 20%);
    border-color: darken($color-grey, 20%);
  }
}

.emph {
  color: $color-grey;
}

.content {
  margin-top: 80px;
  padding: 20px;
  @include breakpoint(big) {
    padding: 0;
  }
  h2 {
    color: $color-grey;
    font-size: 26px;
    line-height: 30px;
    @include breakpoint(big) {
      font-size: 45px;
      line-height: 60px;
    }
    font-weight: 300;
  }
}
