body {
  background-color: $color-off-white;
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  font-weight: 400;
  @include size--s;
  color: $color-dark-grey;
}

.gray {
  color: lighten($color-dark-grey, 40%);
  border-color: lighten($color-dark-grey, 40%);
  &:active,
  &:visited,
  &:focus {
    color: lighten($color-dark-grey, 40%);
  }
  &:hover {
    color: $color-dark-grey;
    border-color: $color-dark-grey;
  }
}

.orange {
  color: $color-grey;
  border-color: $color-grey;
  &:active,
  &:visited,
  &:focus {
    color: $color-grey;
  }
  &:hover {
    color: darken($color-grey, 20%);
    border-color: darken($color-grey, 20%);
  }
}

.emph {
  color: $color-grey;
}

.content {
  margin-top: 80px;
  padding: 20px;
  @include breakpoint(big) {
    padding: 0;
  }
}
