.content {
  line-height: 2;
  max-width: 720px;
  padding-bottom: 200px;
  @include size--xs;
  > *:first-child {
    margin-top: 0;
  }
  h2 {
    color: $color-orange;
    @include size--m;
    font-weight: 300;
  }
  a {
    color: $color-orange;
  }
  h3 {
    margin-top: 3em;
    font-weight: 500;
  }
  pre,
  code {
    font-family: $font-mono;
    font-size: 0.9em;
  }

  code {
    background-color: darken($color-off-white, 10);
    padding: 0.4em;
    border-radius: 3px;
    color: $color-black;
  }

  hr {
    border: 0;
    border-bottom: 1px solid rgba($color-dark-grey, 0.12);
  }
}
