$grid-namespace: "grid" !default;
$grid-col-namespace: "col" !default;

.grid {
  list-style: none;
  position: relative;
  // @include breakpoint(wide) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  // @include breakpoint(medium) {
  // }
  // @include breakpoint(small) {
  // }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.grid--debug {
  .col {
    border: 1px solid red;
    border-right: 0;
    // border-bottom: 0;
    padding: 8px;
  }
}

.col {
  box-sizing: border-box;
  display: block;

  float: left;
  min-height: 1px;
  vertical-align: top;
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
  // @include breakpoint(medium) {
  // }
  // @include breakpoint(small) {
  // }
}

@mixin col-width($num, $total) {
  width: $num/$total * 100%;
}
// Mobile Column Widths

.col--1-of-8 {
  @include col-width(1, 8);
}
.col--2-of-8 {
  @include col-width(2, 8);
}
.col--3-of-8 {
  @include col-width(3, 8);
}
.col--4-of-8 {
  @include col-width(4, 8);
}
.col--5-of-8 {
  @include col-width(5, 8);
}
.col--6-of-8 {
  @include col-width(6, 8);
}
.col--7-of-8 {
  @include col-width(7, 8);
}
.col--8-of-8 {
  @include col-width(8, 8);
}

//Desktop Column Widths
@include breakpoint(big) {
  .col--1-of-16 {
    @include col-width(1, 16);
  }
  .col--2-of-16 {
    @include col-width(2, 16);
  }
  .col--3-of-16 {
    @include col-width(3, 16);
  }
  .col--4-of-16 {
    @include col-width(4, 16);
  }
  .col--5-of-16 {
    @include col-width(5, 16);
  }
  .col--6-of-16 {
    @include col-width(6, 16);
  }
  .col--7-of-16 {
    @include col-width(7, 16);
  }
  .col--8-of-16 {
    @include col-width(8, 16);
  }
  .col--9-of-16 {
    @include col-width(9, 16);
  }
  .col--10-of-16 {
    @include col-width(10, 16);
  }
  .col--11-of-16 {
    @include col-width(11, 16);
  }
  .col--12-of-16 {
    @include col-width(12, 16);
  }
  .col--13-of-16 {
    @include col-width(13, 16);
  }
  .col--14-of-16 {
    @include col-width(14, 16);
  }
  .col--15-of-16 {
    @include col-width(15, 16);
  }
  .col--16-of-16 {
    @include col-width(16, 16);
  }
}

