.Nav > .header {
  background-color: $color-white;
  height: 80px;
  z-index: 100;
  position: relative;
  > .symbol {
    display: block;
    cursor: pointer;
    svg {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 25px;
      display: block;
      width: 30px;
      height: 30px;
      .circle {
        fill: $color-dark-grey;
      }
      .h {
        fill: $color-off-white;
      }
    }
  }

  .right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
    @include big {
      width: auto;
    }
    > .hh {
      display: none;
      @include big {
        display: block;
        margin-top: 23px;
        margin-right: 23px;
      }
    }
    > a.hamburger,
    > a.close {
      width: 30px;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 23px;
      svg {
        display: block;
        width: 100%;
      }
      .circle {
        fill: transparent;
      }
      .x,
      .hamburger {
        fill: $color-light-grey;
      }
    }

    @include big {
      display: block;
      .close,
      .hamburger {
        display: none;
      }
    }
  }
}

.Nav .logo {
  display: block;
  cursor: pointer;
  height: 80px;
  text-decoration: none;
  line-height: 76px;
  font-size: 17px;
  max-width: 300px;
  > span {
    display: inline-block;
    position: relative;
    top: -34px;
  }
  .hedera {
    color: $color-dark-grey;
  }
  .hashgraph {
    color: $color-grey;
  }
  > .symbol {
    width: 80px;
    height: 80px;
    display: inline-block;
    @include big {
      width: 6.25vw;
    }
  }
  svg {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    display: block;
    width: 30px;
    height: 30px;
    .circle {
      fill: $color-dark-grey;
    }
    .h {
      fill: $color-off-white;
    }
  }
}

.Nav {
  > .items-mobile {
    display: none;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 80px;
    overflow: auto;
    padding: 6.25%;
    box-sizing: border-box;
    bottom: 0;
    background-color: $color-dark-grey;
  }
  .hh-btn {
    width: calc(100% - 12.5%);
    margin-bottom: 6.25%;
  }
  .close {
    display: none;
  }
  .hamburger {
    display: block;
  }
  &.is-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .header {
      background-color: $color-dark-grey;
    }
    .symbol {
      .circle {
        fill: $color-off-white;
      }
      .h {
        fill: $color-dark-grey;
      }
    }
    .logo .hedera {
      color: $color-white;
    }
    .close {
      display: block;
    }
    .hamburger {
      display: none;
    }
    > .items-mobile {
      display: block;
    }
  }
}
