.subnav {
  font-size: 16px;
  line-height: 28px;

  padding: 20px;
  @include breakpoint(big) {
    margin-top: 80px;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    > li {
      list-style-type: none;
    }
  }
  h4 {
    color: $color-grey;
    margin: 0;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: $color-dark-grey;
    &:hover {
      text-decoration: underline;
    }
  }
}
