$color-white: white;
$color-off-white: #f9f9f9;
$color-light-grey: #b8b8b8;
$color-mid-grey: #595959;
$color-grey: #8c8c8c;
$color-dark-grey: #464646;
$color-black: #222222;
$color-blue: #2f80ed;
$color-red: #ff4300;
$color-purple: #8259ef;
$color-orange: #ff4300;
$color-teal: #76ccc2;
$color-green: #36c975;

$font-sans: "Styrene A Web", "Helvetica Neue", Sans-Serif;
$font-mono: Monaco, monospace;

$darken-ratio: 5;
$opacity-ratio: 0.3;

$speed: 200ms;
$ease: ease-in-out;

$max-height: 920px;
