$color-white: white;
$color-off-white: #f9f9f9;
$color-light-grey: #b8b8b8;
$color-mid-grey: #595959;
$color-grey: #8c8c8c;
$color-dark-grey: #464646;
$color-black: #222222;
$color-blue: #7093ff;
$color-red: #ff4300;
$color-purple: #8259ef;
$color-teal: #76ccc2;
$color-green: #64cf53;

$font-sans: "Styrene A Web", "Helvetica Neue", Sans-Serif;

$darken-ratio: 5;
$opacity-ratio: 0.3;

$speed: 200ms;
$ease: ease-in-out;

$primary: #1c3359;
$secondary: #ff833b;
$tertiary: #909090;

$default-font: "Styrene A Web", sans-serif;
