---
layout: default
---

<div id="home">
    <h2>Hashgraph is <span class="txt-rotate emph" data-period="2000" data-rotate='["fast.","fair.","secure."]'></span></h2>
    <h3>The next generation of distributed ledger technology.</h3>
    <a href="https://www.swirlds.com/download/"><div class="btn orange"><span>Download the SDK </span><span class="icon-folder-download ico"></span></div></a>
    <a href="http://www.swirlds.com/downloads/SWIRLDS-TR-2016-01.pdf"><div class="btn gray"><span>Quick start </span></div></a>
</div>