---
layout: default
---

<div class="home-bg"></div>

<div class="home">
  <p class="size--m light">Dream it. Build it. Developers will dream up new ideas, build them into reality, and change the world on the Hedera hashgraph. If you can dream it, then you can build it, with support for Java and Solidity. Hello Future.</p>
  <br/>
  <br/>
  <a href="https://www.swirlds.com/download/" class="Btn is-orange-border is-big">Download the SDK</a>
  &nbsp;&nbsp;&nbsp;
  <a href="/docs/quickstart/" class="Btn is-grey is-big">Quick start</a>
</div>
