---
layout: default
---

### What is Hashgraph?

Hashgraph is the first asynchronouse byzantine fault tolerant (aBFT) consensus algorithm that results in fair ordering, fast finality, and secure propagation. It is the foundation of the next generation of Distributed Ledger Technology (DLT).

### What is Hedera?

Hedera is the official public distributed ledger and only ledger authorized to use the hasghraph algorithm.

**For applications on the Hedera public ledger:** No license will be required to run an application on the Hedera hashgraph public ledger. Applications will make micropayments for API calls using the platform token.

### How do I get started?

**Learn:** Go through the Getting Started documents here.

**Equip:** Be sure to use the latest SDKs which can be found in the official [Hedera Github account](https://github.com/hashgraph)

**Inquire:** Ask all of your questions in the official [Hedera Developer Q&A](https://hashgraph.org/categories/hedera-q-a)

**Engage:** Join us in [Discord](https://hashgraph.com/discord) to discuss all things developer + Hedera.

[Next Step: Getting Testnet Access](/docs/start/getting-testnet-access){:.Btn.next}
